//
// Body
//------------------------------------

html {
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}

body {
  @include openSansRegular();

  color: $text-color;
  font-size: 1.8rem;
}

a {
  color: $primary-color;

  &:hover {
    color: $secondary-color;
  }
}
