//
// Body
//------------------------------------

html {
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}

body {
  @include openSansRegular();

  font-size: 1.6rem;
}

p {
  line-height: 1.4;
}

a {
  color: $primary-color;

  &:hover {
    color: $secondary-color;
  }
}

b,
strong {
  font-weight: 700;
}
