.btn {
  border-radius: 0.5rem;
  font-size: 1.6rem;
  padding: 0.8rem 2rem;

  + .btn {
    margin-left: 1rem;
  }

  &,
  &:hover,
  &:focus,
  &:active {
    outline: none;
  }

  &--border {
    border: solid 1px $primary-color;
    color: $primary-color;
    min-width: 14rem;

    &:hover {
      background-color: $primary-color;
      color: $white;
    }
  }

  &--red {
    background-color: $primary-color;
    border: solid 1px $primary-color;
    color: $white;

    &:hover {
      background-color: $white;
      color: $primary-color;
    }
  }

  &--small {
    font-size: 1.4rem;
    min-width: inherit;
    padding: 0.5rem 1.5rem;
  }

  &--switch {
    background-color: transparent;
    border: none;
  }

  &--active {
    color: green;
  }

  &--link {
    border: none;
    color: $white;
  }

  &--close {
    position: absolute;
    left: 100%;
    top: 0;
  }
}
