.header-site {
  background-color: $white;
  box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.2);
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;

  &__navbar {
    padding: 0;
  }

  &__logo {
    padding: 1rem 0;
    opacity: 1;
    transition: all 0.3s ease;

    @at-root .sticky & {
      width: 1px !important;
      opacity: 0;
    }

    &--small {
      width: 1px !important;
      opacity: 0;

      @at-root .sticky & {
        width: 45px !important;
        opacity: 1;
      }
    }
  }

  &__nav {
    li {
      a {
        color: $secondary-color !important;
        font-size: 1.6rem;
        font-weight: 300;
        padding: 2.5rem 1.5rem !important;
        position: relative;
        transition: all 0.3s ease;

        @at-root .sticky & {
          padding: 1rem 1.5rem !important;
        }

        &:hover {
          color: $primary-color !important;
        }

        &:before {
          background-color: $primary-color;
          bottom: 0;
          content: '';
          display: block;
          height: 3px;
          left: 50%;
          margin-left: 0;
          position: absolute;
          transition: all 0.3s ease;
          width: 0;
        }

        &:hover:before {
          margin-left: -20px;
          width: 40px;
        }
      }
    }

    .current_page_item {
      a {
        &:after {
          margin-left: -20px;
          width: 40px;
        }
      }
    }
  }
}
