.site {
  &__block {
    background-color: $white;
    border-radius: 1rem;
    color: $black;
    margin-bottom: 3rem;
    padding: 3rem 2rem;
    position: relative;
    z-index: 1;

    &--big {
      padding: 4rem 7rem;
    }
  }

  &__shadow {
    box-shadow: 11px 10px 38px 0 rgba(0, 0, 0, 0.1);
  }

  &__small {
    max-width: 800px;
    margin: 0 auto;
  }

  &__pretitle {
    color: $third-color;
    font-size: 1.3rem;
    letter-spacing: 1px;
    margin-bottom: 2rem;
    text-transform: uppercase;

    span {
      color: $black;
      display: block;
    }
  }

  &__title {
    @include montserratBlack();

    font-size: 4rem;
    margin-bottom: 3rem;
    text-transform: uppercase;

    @include media-breakpoint-down(md) {
      font-size: 1.8rem;
    }

    &--big {
      font-size: 7rem !important;
    }

    &--small {
      font-size: 2rem !important;
    }
  }

  &__subtitle {
    font-size: 2.1rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  &__has-nav {
    padding-top: 74px;
  }

  &__icon {
    border-radius: 50%;
    margin: 0 auto;
    max-width: 100px;

    i {
      font-size: 22px;
      left: 0;
      position: absolute;
      top: 17px;
      width: 100%;
    }
  }

  &__firma {
    width: 180px;
  }
}
