.site {
  &__block {
    background-color: $white;
    border-radius: 0.5rem;
    box-shadow: 0 1.5rem 5rem 0 rgba(26, 32, 40, 0.4);
    color: $black;
    margin-bottom: 3rem;
    padding: 3rem 2rem;
    position: relative;
    z-index: 1;

    &--big {
      padding: 4rem 7rem;
    }
  }

  &__small {
    max-width: 800px;
    margin: 0 auto;
  }

  &__pretitle {
    color: $third-color;
    font-size: 1.3rem;
    letter-spacing: 1px;
    margin-bottom: 2rem;
    text-transform: uppercase;
  }

  &__title {
    @include montserratBlack();

    font-size: 4rem;
    margin-bottom: 3rem;
    text-transform: uppercase;

    @include media-breakpoint-down(md) {
      font-size: 1.8rem;
    }

    &--small {
      font-size: 2rem !important;
    }
  }

  &__subtitle {
    font-size: 2.1rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  &__has-nav {
    padding-top: 74px;
  }
}
