.home-top {
  background-image: url(../images/top-bg-2.svg);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: cover;

  &__block {
    margin-bottom: 2rem;
    position: relative;
    z-index: 1;
  }

  &__pretitle {
    color: $gray-500;
    display: block;
  }

  &__title {
    @include montserratBlack();

    font-size: 6.5rem;
    line-height: 1;
    margin: 0;
    margin-bottom: 3rem;
    text-transform: uppercase;

    @include media-breakpoint-down(lg) {
      font-size: 5rem;
    }
  }

  &__image {
    width: 200%;
    margin-left: -100%;
  }
}
